html {
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background-color: --var(bg-color);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}